<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">

	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="1e6aaa6b-59e8-41cb-9647-39f3dffbf17d" >
		<salesforce:basic-connection username="${secure::sfc.user}" password="${secure::sfc.password}" securityToken="${secure::sfc.token}" />
	</salesforce:sfdc-config>
	<configuration-properties doc:name="Configuration properties" doc:id="50d3ef08-7ffe-4937-8644-5dd120e8ea07" file="properties\dev.yaml" />
	<configuration doc:name="Configuration" doc:id="4a4efa36-8814-4928-9058-bb39bbe73568" defaultErrorHandler-ref="Error_Handler" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="1a28aad2-9be4-417b-ab8b-07c8b52cc52e" file="properties/dev-secure.yaml" key="Mulesoft" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
</mule>
